<h1>Login</h1>
<hr>
<div class="col-md-5">
  <form #loginForm="ngForm"  (ngSubmit)="login(loginForm.value)"   autocomplete="off" novalidate>
    <div class="form-group"  >
      <label for="userName">User Name:</label>
      <input (ngModel)="userName" name="userName" id="userName" type="text" 
        class="form-control" placeholder="User Name..." required />
        <em *ngIf="loginForm.controls.userName?.invalid && (loginForm.controls.userName?.touched || mouseoverLogin)">Required</em>

        <!-- <input id="userName" type="text"  placeholder="User Name..." class="form-control"  /> -->
    </div>
    <div class="form-group" >
      <label for="password">Password:</label>
      <input (ngModel)="password" name="password" id="password" type="password"
            class="form-control"  placeholder="Password..." required />
      <em *ngIf="loginForm.controls.password?.invalid && (loginForm.controls.password?.touched || mouseoverLogin)">Requred </em>
      <!-- <input id="password" type="password" class="form-control"placeholder="Password..." /> -->
    </div>
       
    <!-- since disabled buttons do not handle events, add even to span tag -->
    <span (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false">
         <button type="submit" class="btn btn-primary"
                [disabled]="loginForm.invalid" >Login</button>
    </span>
    <button type="button" (click)="cancel()" class="btn btn-default">Cancel</button>
  
    <div class="row">
    <div class="col-md-8">
        loginForm.valid:<br/>
        loginForm.invalid:<br/>
        loginForm.dirty:<br/>
        loginForm.pristine:<br/>
        loginForm.touched:<br/>
        loginForm.untouched:<br/>    
    </div >
    <div class="col-md-4">
        {{loginForm.valid}}<br/>
        {{loginForm.invalid}}<br/>
        {{loginForm.dirty}}<br/>
        {{loginForm.pristine}}<br/>
        {{loginForm.touched}}<br/>
        {{loginForm.untouched}}<br/>      
    </div>
    </div>
    <hr/>
    <div class="row">
    <div class="col-md-10" >
        loginForm.controls.userName.valid:<br/>
        loginForm.controls.userName.invalid:<br/>
        loginForm.controls.userName.dirty:<br/>
        loginForm.controls.userName.pristine:<br/>
        loginForm.controls.userName.touched:<br/>
        loginForm.controls.userName.untouched:<br/>  
    </div>
        <div class="col-md-2">
            {{loginForm.controls.userName?.valid}}<br/>
            {{loginForm.controls.userName?.invalid}}<br/>
            {{loginForm.controls.userName?.dirty}}<br/>
            {{loginForm.controls.userName?.pristine}}<br/>
            {{loginForm.controls.userName?.touched}}<br/>
            {{loginForm.controls.userName?.untouched}}<br/> 
        </div>
    </div>
        <hr/>
        <div class="col-md-10"  >
            loginForm.controls.password.valid:<br/>
            loginForm.controls.password.invalid:<br/>
            loginForm.controls.password.dirty:<br/>
            loginForm.controls.password.pristine:<br/>
            loginForm.controls.password.touched:<br/>
            loginForm.controls.password.untouched:<br/>  
        </div>       
       <div class="col-md-2"> 
            {{loginForm.controls.password?.valid}}<br/>
            {{loginForm.controls.password?.invalid}}<br/>
            {{loginForm.controls.password?.dirty}}<br/>
            {{loginForm.controls.password?.pristine}}<br/>
            {{loginForm.controls.password?.touched}}<br/>
            {{loginForm.controls.password?.untouched}}<br/> 
        </div>
    </form>
    <br>
    <div *ngIf="loginInvalid" class="alert alert-danger">Invalid Login Info</div>
</div>


