<div>
    <h1>Edit Your Profile </h1>
    <hr>
    <div class="col-md-4">
      <form [formGroup]="profileForm" (ngSubmit)="saveProfile(profileForm.value)" autocomplete="off" novalidate>
        <div class="form-group" [ngClass]="{ 'error' : !validateFirstName() }">
          <label for="firstName">First Name:</label>
          <em *ngIf="!validateFirstName() &&
            profileForm.controls.firstName.errors.required">Required</em>
          <em *ngIf="!validateFirstName() &&
            profileForm.controls.firstName.errors.pattern">Must start with a letter.</em>
          <input formControlName="firstName" id="firstName" type="text" class="form-control" placeholder="First Name..." />
        </div>
        <div class="form-group" [ngClass]="{ 'error' : profileForm.controls.lastName.invalid && profileForm.controls.lastName.touched }">
          <label for="lastName">Last Name:</label>
          <em *ngIf="!validateLastName()">Required</em>
          <input  formControlName="lastName" id="lastName" type="text" class="form-control" placeholder="Last Name..." />
        </div>
  
        <button  type="submit" class="btn btn-primary">Save</button>
        <button (click)="cancel()" type="button" class="btn btn-default">Cancel</button>
        <button type="button" class="btn btn-warning" 
          style="float:right" (click)="logout()" >LogOut</button>
      
        <div class="row" >
        <div class="col-md-8">
          profileForm.valid:<br/>
          profileForm.invalid:<br/>
          profileForm.dirty:<br/>
          profileForm.pristine:<br/>
          profileForm.touched:<br/>
          profileForm.untouched:<br/>    
      </div >
      <div class="col-md-4">
          {{profileForm.valid}}<br/>
          {{profileForm.invalid}}<br/>
          {{profileForm.dirty}}<br/>
          {{profileForm.pristine}}<br/>
          {{profileForm.touched}}<br/>
          {{profileForm.untouched}}<br/>      
      </div>
      </div>
      <hr/>
      <div class="row">
      <div class="col-md-10" >
          controls.firstName.valid:<br/>
          controls.firstName.invalid:<br/>
          controls.firstName.dirty:<br/>
          controls.firstName.pristine:<br/>
          controls.firstName.touched:<br/>
          controls.firstName.untouched:<br/>  
      </div>
        <div class="col-md-2">
            {{profileForm.controls.firstName?.valid}}<br/>
            {{profileForm.controls.firstName?.invalid}}<br/>
            {{profileForm.controls.firstName?.dirty}}<br/>
            {{profileForm.controls.firstName?.pristine}}<br/>
            {{profileForm.controls.firstName?.touched}}<br/>
            {{profileForm.controls.firstName?.untouched}}<br/> 
        </div>
        </div>
          <hr/>
          <div class="col-md-10"  >
              controls.lastName.valid:<br/>
              controls.lastName.invalid:<br/>
              controls.lastName.dirty:<br/>
              controls.lastName.pristine:<br/>
              controls.lastName.touched:<br/>
              controls.lastName.untouched:<br/>  
          </div>       
         <div class="col-md-2" > 
              {{profileForm.controls.lastName?.valid}}<br/>
              {{profileForm.controls.lastName?.invalid}}<br/>
              {{profileForm.controls.lastName?.dirty}}<br/>
              {{profileForm.controls.lastName?.pristine}}<br/>
              {{profileForm.controls.lastName?.touched}}<br/>
              {{profileForm.controls.lastName?.untouched}}<br/> 
          </div> 
      
      </form>
    </div>
  </div>